@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply bg-[#483838] w-80 m-5 h-40 shadow-lg;
}

.center{
    @apply flex flex-col items-center justify-around;
}

.center-row{
    @apply flex items-center justify-center;
}   

.customScroll::-webkit-scrollbar {
    width: 5px;
}
   
.customScroll::-webkit-scrollbar-track {
    background: #D2D79F;
}
   
.customScroll::-webkit-scrollbar-thumb {
    background: #42855B; 
}

.cardContainer{
    @apply customScroll shadow-xl flex items-start max-h-96  mt-4 overflow-auto flex-wrap w-3/5 mr-auto ml-auto;
}

.episode{
    @apply text-center mt-4;
}